{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Bitmex Liquidity Monitor<img src="{% static 'lightening.png' %}" height="32" /></h1>
      <p>Bitmex liquidity for slippage of {{ slippage }} %</p>
      
      <table style="width:100%">
        <tr>
          <th>Market</th>
          <th>Sell Side Liquidity</th>
          <th>Buy Side Liquidity</th>
          <th>Best Sell Price</th>
          <th>Best Buy Price</th>

        </tr>
        <tr>
          <td>XBT</td>
          <td>${{ btc_buy_liq}}</td>
          <td>${{ btc_sell_liq}}</td>
          <td>${{ best_buy_btc}}</td>
          <td>${{ best_sell_btc}}</td>
        
        </tr>
        <tr>
          <td>ETH</td>
          <td>${{ eth_buy_liq}}</td>
          <td>${{ eth_sell_liq}}</td>
          <td>${{ best_buy_eth}}</td>
          <td>${{ best_sell_eth}}</td>
        </tr>
        <tr>
          <td>LTC</td>
          <td>${{ ltc_buy_liq}}</td>
          <td>${{ ltc_sell_liq}}</td>
          <td>${{ best_buy_ltc}}</td>
          <td>${{ best_sell_ltc}}</td>
        </tr>
      
      </table>


      
        </section>
  
        <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div id="tradingview_2da5a"></div>
    <div class="tradingview-widget-copyright"><a href="https://uk.tradingview.com/symbols/NASDAQ-AAPL/" rel="noopener" target="_blank"><span class="blue-text">Chart</span></a> by TradingView</div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
    new TradingView.widget(
    {
    "width": 980,
    "height": 610,
    "symbol": "BITMEX:XBTUSD",
    "interval": "D",
    "timezone": "Etc/UTC",
    "theme": "Light",
    "style": "1",
    "locale": "uk",
    "toolbar_bg": "#f1f3f6",
    "enable_publishing": false,
    "allow_symbol_change": true,
    "container_id": "tradingview_2da5a"
  }
    );
  
  
    </script>
  
  </div>
  <!-- TradingView Widget END -->




{% endblock %}

