{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="spinner-border">
  <span class="sr-only">Loading...</span>
</div>

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Welcome to CryptoZap <img src="{% static 'lightening.png' %}" height="32" /></h1>
    
    <p class="lead text-muted">Live market scanners for crypto exchanges.</p>
    <p>We are in Beta!</p>
    <p>Please note the buttons below make API calls to FTX crypto exchange, and will take approximately 20 seconds to load!</p>
    
   
    <p>
      <a href="{% url 'liqhome' %}" class="btn btn-primary my-2">Check Liquidity at FTX</a>
    </p>

    <p>More exchanges coming soon! </p>
    
  </div>
</section>

<div>Test text</div>



{% endblock%}
